
body{
    width: 100vw;
    height: fit-content;
    background-color: rgb(201, 201, 201);
}
.img-mubarak{
    width: 100vw;
    height: fit-content;
    text-align: center;
    align-items: center;
    margin: auto;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100vw;
    height: max-content;
    margin-bottom: 10px;
    
}
#haldi,#stills,#nalugu,#nikah{
    margin: 20px 0px;
    width: 50%;
    height: 65px;
    border-radius: 100px;
    border: none;
    font-size: 25px;
}

#nalugu:hover,#nikah:hover,#stills:hover,#haldi:hover{
    transition: .2s;
    box-shadow: 0px 0px  20px black;
    background-color: rgb(48, 203, 255);
}

/* #haldi{ */
    /* margin: 20px 0px;
    width: 55%;
    height: 150px;
    border-radius: 100px;
    border: none;
    font-size: 25px;
    background-image: url('/img/halde.png');
    background-position: center;
    background-size: 100% 100%;
} */


#nalugu span{
    font-size: 18px;
}
#haldi button{
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width:750px) {
    .img-mubarak{
        width: 100vw;
        height: 40%;
        text-align: center;
        align-items: center;
        margin: auto;
    }
    .img-mubarak img{
        width: 50%;
    }
    /* .links{
        background-image: url('/img/card.jpeg');
        background-position: center;
        background-size: 100% 100%;
        filter: blur(8px);
        -webkit-filter: blur(1px);
    }
    .link{
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 35%;
        left: 15%;
    } */
    #nikah,#haldi,#nalugu,#stills{
        width: 90%;
        /* position: relative;
        opacity: 0.7;
        bottom: 50%;
        font-weight: bolder;
        border: 1px solid rgb(0, 0, 41); */
    }
}